<mat-card-title>
    {{ titulo }}
</mat-card-title>

<mat-card-content>

    <form class="form-container">

        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Informe o nome do tênis" required name="nome" [(ngModel)]="tenis.nome">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Marca</mat-label>
            <mat-select placeholder="Selecione a marca do tênis" required name="marca" [(ngModel)]="tenis.marca._id">
                <mat-option *ngFor="let marca of marcas" [value]="marca._id">
                    {{ marca.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cadarço</mat-label>
            <mat-select placeholder="Selecione o cadarço do tênis" required name="cadarco" [(ngModel)]="tenis.tipo_cadarco._id">
                <mat-option *ngFor="let cadarco of cadarcos" [value]="cadarco._id">
                    {{ cadarco.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sola</mat-label>
            <mat-select placeholder="Selecione a sola do tênis" required name="sola" [(ngModel)]="tenis.tipo_sola._id">
                <mat-option *ngFor="let sola of solas" [value]="sola._id">
                    {{ sola.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Valor</mat-label>
            <span matPrefix>R$ &nbsp;</span>
            <input matInput type="number" placeholder="Informe o valor do tênis" required name="valor" [(ngModel)]="tenis.valor">
        </mat-form-field>

        <mat-card>
            <mat-card-content>
                <h2>Estoque</h2>

                <mat-form-field>
                    <mat-label>Tamanho</mat-label>
                    <input matInput type="number" placeholder="Informe o tamanho do par" required name="tamanho" [(ngModel)]="tenis.tamanho">
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <mat-label>Quantidade disponível</mat-label>
                    <input matInput type="number" placeholder="Informe a quantidade disponível do par" required name="quantidade_disponivel" [(ngModel)]="tenis.quantidade_disponivel">
                </mat-form-field>

                <button mat-mini-fab (click)="adicionarItem()" style="margin-left: 5px; background-color: #00C853">
                    <mat-icon aria-label="Adicionar novo item">add</mat-icon>
                </button>

                <table>
                    <tr>
                        <th>Tamanho</th>
                        <th>Quantidade Disponível</th>
                        <th></th>
                    </tr>

                    <tr *ngFor="let item of tenis.tenis_venda; index as i">
                        <td>{{ item.tamanho }}</td>
                        <td>{{ item.quantidade_disponivel }}</td>
                        <td>
                            <button mat-mini-fab class="deleteButton" (click)="removerItem(i)">
                                <mat-icon aria-label="Excluir item">delete</mat-icon>
                            </button>
                        </td>
                    </tr>                 
                </table>
            </mat-card-content>
        </mat-card>

    </form>

</mat-card-content>

<mat-card-actions class="center-buttons">
    <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
    <button mat-flat-button style="margin-left: 5px; background-color: #D50000; color: white" (click)="cancelar()">Cancelar</button>
</mat-card-actions>