<mat-card-title>
  {{ titulo }}
</mat-card-title>

<mat-card-content>

  <form class="form-container">

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Informe o nome da sola" required name="nome" [(ngModel)]="sola.nome">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Durabilidade Média</mat-label>
      <input matInput placeholder="Informe a durabilidade média da sola" required name="durabilidade_media" [(ngModel)]="sola.durabilidade_media">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Valor</mat-label>
      <input matInput placeholder="Informe o valor da sola" required name="valor" [(ngModel)]="sola.valor">
    </mat-form-field>
    
  </form>

</mat-card-content>