<mat-card-title>
  {{ titulo }}
</mat-card-title>

<mat-card-content>

  <form class="form-container">

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Informe o nome do cargo" required name="nome" [(ngModel)]="cargo.nome">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nível Hierárquico</mat-label>
      <input matInput placeholder="Informe o nível hierárquico" required name="nivel_hierarquico" [(ngModel)]="cargo.nivel_hierarquico">
    </mat-form-field>
    
  </form>

</mat-card-content>