<mat-card-title>
  {{ titulo }}
</mat-card-title>

<mat-card-content>

  <form class="form-container">

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Informe o nome do cargo" required name="nome" [(ngModel)]="cargo.nome">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nível Hierárquico</mat-label>
      <input matInput type="number" placeholder="Informe o nível hierárquico" required name="nivel_hierarquico" [(ngModel)]="cargo.nivel_hierarquico">
    </mat-form-field>
    
  </form>

</mat-card-content>

<mat-card-actions class="center-buttons">
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
  <button mat-flat-button style="margin-left: 5px; background-color: #D50000; color: white" (click)="cancelar()">Cancelar</button>
</mat-card-actions>