<mat-card-title>
  Listagem de Marcas
</mat-card-title>

<mat-card-actions>
  <a mat-raised-button href="marca/new" color="accent">Nova Marca</a>
</mat-card-actions>

<mat-card-content>
  <table mat-table [dataSource]="solas">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let sola">{{sola.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="durabilidade_media">
      <th mat-header-cell *matHeaderCellDef>Durabilidade Média</th>
      <td mat-cell *matCellDef="let sola">{{sola.durabilidade_media}} meses</td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let sola">R$ {{sola.valor}}</td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let sola">
        <a mat-mini-fab color="primary" href="sola/{{ sola._id }}">
          <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
        </a>
        <a mat-mini-fab style="margin-left: 5px; background-color: #D50000">
          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
    <tr mat-row *matRowDef="let linhaTab; columns: visibleColumns"></tr>

  </table>
</mat-card-content>