<mat-card-title>
  Listagem de Marcas
</mat-card-title>

<mat-card-actions>
  <a mat-raised-button href="funcionario/new" color="accent">Novo Funcionario</a>
</mat-card-actions>

<mat-card-content>
  <table mat-table [dataSource]="funcionarios">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let funcionario">{{funcionario.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef>CPF</th>
      <td mat-cell *matCellDef="let funcionario">{{funcionario.cpf}}</td>
    </ng-container>

    <ng-container matColumnDef="cargo">
      <th mat-header-cell *matHeaderCellDef>Cargo</th>
      <td mat-cell *matCellDef="let funcionario">{{funcionario.cargo.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let funcionario">
        <a mat-mini-fab color="primary" href="funcionario/{{ funcionario._id }}">
          <mat-icon aria-label="Editar">edit</mat-icon>
        </a>
        <a mat-mini-fab style="margin-left: 5px; background-color: #D50000">
          <mat-icon aria-label="Excluir">delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
    <tr mat-row *matRowDef="let linhaTab; columns: visibleColumns"></tr>

  </table>
</mat-card-content>