<mat-card-title>
  Listagem de Cargos
</mat-card-title>

<mat-card-actions>
  <a mat-raised-button href="cargo/new" color="accent">Novo Cargo</a>
</mat-card-actions>

<mat-card-content>
  <table mat-table [dataSource]="cargos">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let cargo">{{cargo.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="nivel_hierarquico">
      <th mat-header-cell *matHeaderCellDef>Nível Hierárquico</th>
      <td mat-cell *matCellDef="let cargo">{{cargo.nivel_hierarquico}}</td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let cargo">
        <a mat-icon-button color="primary" [routerLink]="cargo._id">
          <mat-icon aria-label="Editar cargo">edit</mat-icon>
        </a>
        <button mat-icon-button class="deleteButton" (click)="excluir(cargo._id)">
          <mat-icon aria-label="Excluir cargo">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
    <tr mat-row *matRowDef="let linhaTab; columns: visibleColumns"></tr>

  </table>
</mat-card-content>