<mat-card-title>
  Listagem de Cadarços
</mat-card-title>

<mat-card-actions>
  <a mat-raised-button href="cadarco/new" color="accent">Novo Cadarço</a>
</mat-card-actions>

<mat-card-content>
  <table mat-table [dataSource]="cadarcos">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let cadarco">{{cadarco.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="material">
      <th mat-header-cell *matHeaderCellDef>Material</th>
      <td mat-cell *matCellDef="let cadarco">{{cadarco.material}}</td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let cadarco">{{cadarco.valor}}</td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let cadarco">
        <button mat-mini-fab color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
        </button>
        <button mat-mini-fab style="margin-left: 5px; background-color: #D50000">
          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
    <tr mat-row *matRowDef="let linhaTab; columns: visibleColumns"></tr>

  </table>
</mat-card-content>