<mat-card-title>
  Listagem de Vendas
</mat-card-title>

<mat-card-actions>
  <a mat-raised-button href="venda/new" color="accent">Nova Venda</a>
</mat-card-actions>

<mat-card-content>
  <table mat-table [dataSource]="vendas">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let venda">{{venda._id}}</td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let venda">{{venda.data | date: 'dd/MM/yyyy HH:mm':'+0000'}}</td>
    </ng-container>

    <ng-container matColumnDef="funcionario">
      <th mat-header-cell *matHeaderCellDef>Funcionario</th>
      <td mat-cell *matCellDef="let venda">{{venda.funcionario.nome}} - {{venda.funcionario.cpf}}</td>
    </ng-container>

    <ng-container matColumnDef="cargo">
        <th mat-header-cell *matHeaderCellDef>Cargo</th>
        <td mat-cell *matCellDef="let venda">{{venda.funcionario.cargo.nome}}</td>
      </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let venda">
        <a mat-icon-button color="primary" [routerLink]="venda._id">
          <mat-icon aria-label="Editar">edit</mat-icon>
        </a>
        <a mat-icon-button class="deleteButton" style="margin-left: 5px" (click)="excluir(venda._id)"> 
          <mat-icon aria-label="Excluir">delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
    <tr mat-row *matRowDef="let linhaTab; columns: visibleColumns"></tr>

  </table>
</mat-card-content>